/*.pyc
health_insurance_agent/*.pyc
health_insurance_agent/migrations/*.pyc
health_insurance_agent/health_insurance_agent/migrations/*.pyc
health_insurance_agent/health_insurance_agent/migrations/*.pyc
health_insurance_agent/health_insurance_agent/migrations/*.pyc
health_insurance_agent/health_insurance_agent/migrations/*.pyc
health_insurance_agent/health_insurance_agent/migrations/*.pyc

__pycache__

temp_files/
vector_store/
media/